* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}

section {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.wrapper-page {
  position: relative;
  z-index: 10;
  display: flex;
}

.wrapper-page div {
  height: 80px;
  width: 80px;
  background: rgb(136, 134, 134);
  border-radius: 100%;
  /* animation: animatia 0.5s infinite; */
}

.shar-1 {
  animation: animatia linear 1.5s infinite;
}

.z1 {
  animation: animatia linear 1.5s infinite 0.1s;
}

.A13 {
    animation: animatia linear 1.5s infinite 0.2s;
}


.opel {
    animation: animatia linear 1.5s infinite 0.3s;
}
.mers {
    animation: animatia linear 1.5s infinite 0.4s;
}
.wrapper-cubes {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0vh;
  left: 0vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}

.cube {
  width: 10vw;
  height: 10vw;
  margin: 0 !important;
  padding: 0;
  background-color: rgba(255, 0, 0, 0.6);
}

@keyframes animatia {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-160px);
  }

  100% {
    transform: translateY(0px);
  }
}

.game {
  border: 12px solid black;
  width: 321px;
  line-height:22px;
  height:333px;
  margin: 10px;
  
margin-top:100px
}
.games {
  display: flex;
  justify-content: center;
  
}

header {
  width: 100%;

  
}

ul {
  display: flex;
  justify-content: space-around;
}
li {
  font-size: 41px;
  background: linear-gradient(rgb(183, 11, 199), rgb(252, 194, 3));
  padding: 4px;
}

li a {
  /* background-color: rgba(255, 255, 255, 0.462); */
  color: #000;
}

.game img {
  width: 321px; 
  height: 311px ;
}